
body {
background-color: #F7BA00;
background-size: 100%;
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header div h1{
    display: inline-block;
    text-align: left;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    padding: 1%;
}

section div {
    font-size: 100%;
    text-align: center;
    display: inline-block;
    background-color: black;
    color: aliceblue;
    padding: 3%;
    margin: 2% 18%;
    width: 60%;
    vertical-align: middle;

}

#text-left {
    text-align: left;
}

